{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.min.js"></script>

    <!-- Load Multiple Stylish Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Lobster&family=Righteous&family=Dancing+Script&family=Playfair+Display&family=Sacramento&family=Great+Vibes&family=Parisienne&family=Satisfy&family=Indie+Flower&family=Kaushan+Script&family=Courgette&family=Shadows+Into+Light&family=Gloria+Hallelujah&family=Berkshire+Swash&family=Yellowtail&family=Fredericka+the+Great&family=Amatic+SC&family=Chewy&family=Handlee&family=Marck+Script&family=Neucha&family=Reenie+Beanie&family=Rock+Salt&family=Zeyada&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!--Header Partial-->
    {% include 'frontend/layout/header.html' %}

    {% block content %}
    {% endblock %}

    <!--Footer Partial-->
    {% include 'frontend/layout/footer.html' %}
</body>
</html>